:root {
  --pramary-900: #1e1510;
  --neutral-300: #525050;
  --neutral-5: #f0eceb;
  --primary-500: #fa6440;
  --primary-600: #cc5133;
  --primary-50: #feefec;
  --whitte: white;
  --neutral-50: #e0dddc;
  --neutral-200: #8f8d8c;
  --sucess-50: #f2fcf2;
  --sucess-600: #197624;
}

.w-embed-youtubevideo {
  width: 100%;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg');
  background-position: 50%;
  background-size: cover;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.w-embed-youtubevideo:empty {
  min-height: 75px;
  padding-bottom: 56.25%;
}

.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  color: #000;
  font-family: Publicsans, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Publicsans, sans-serif;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.1;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Publicsans, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Publicsans, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Publicsans, sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.4;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

p {
  margin-bottom: 0;
  font-family: Publicsans, sans-serif;
}

a {
  font-family: Publicsans, sans-serif;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1.5rem;
}

li {
  margin-bottom: .25rem;
  font-family: Publicsans, sans-serif;
}

img {
  max-width: 100%;
  display: inline-block;
}

label {
  margin-bottom: .25rem;
  font-weight: 500;
}

blockquote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: 0 1.25rem;
  font-family: Publicsans, sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
}

figure {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

figcaption {
  text-align: center;
  margin-top: .25rem;
}

.utility-page_component {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: flex;
}

.utility-page_wrapper {
  max-width: 20rem;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.utility-page_form {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.utility-page_image {
  margin-left: auto;
  margin-right: auto;
}

.global-styles {
  display: block;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.margin-custom2 {
  margin: 2.5rem;
}

.padding-xlarge {
  padding: 4rem;
}

.margin-xlarge {
  margin: 4rem;
}

.margin-xsmall {
  margin: .5rem;
}

.padding-xhuge {
  padding: 8rem;
}

.margin-custom1 {
  margin: 1.5rem;
}

.padding-0 {
  padding: 0;
}

.padding-xxhuge {
  padding: 12rem;
}

.padding-huge {
  padding: 6rem;
}

.margin-large {
  margin: 3rem;
}

.padding-xxlarge {
  padding: 5rem;
}

.margin-xxsmall {
  margin: .25rem;
}

.padding-custom3 {
  padding: 3.5rem;
}

.padding-large {
  padding: 3rem;
}

.margin-tiny {
  margin: .125rem;
}

.padding-small {
  padding: 1rem;
}

.padding-custom2 {
  padding: 2.5rem;
}

.margin-custom3 {
  margin: 3.5rem;
}

.padding-custom1 {
  padding: 1.5rem;
}

.margin-huge {
  margin: 6rem;
}

.padding-medium {
  padding: 2rem;
}

.padding-xsmall {
  padding: .5rem;
}

.margin-xxlarge {
  margin: 5rem;
}

.padding-xxsmall {
  padding: .25rem;
}

.margin-xhuge {
  margin: 8rem;
}

.padding-tiny {
  padding: .125rem;
}

.margin-small {
  margin: 1rem;
}

.margin-medium {
  margin: 2rem;
}

.margin-xxhuge {
  margin: 12rem;
}

.margin-0 {
  margin: 0;
}

.margin-horizontal {
  margin-top: 0;
  margin-bottom: 0;
}

.padding-top {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.margin-vertical {
  margin-left: 0;
  margin-right: 0;
}

.margin-bottom {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.padding-left {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.padding-vertical {
  padding-left: 0;
  padding-right: 0;
}

.padding-horizontal {
  padding-top: 0;
  padding-bottom: 0;
}

.margin-right {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.margin-top {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.margin-left {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.padding-right {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.padding-bottom {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.form_checkbox {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.form_checkbox-icon {
  width: .875rem;
  height: .875rem;
  border-radius: .125rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-checked {
  width: .875rem;
  height: .875rem;
  background-size: 90%;
  border-radius: .125rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-focus {
  width: .875rem;
  height: .875rem;
  border-radius: .125rem;
  margin: 0 .5rem 0 0;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.fs-styleguide_background {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, .1);
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  display: flex;
}

.fs-styleguide_spacing {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  background-image: linear-gradient(to top, rgba(45, 64, 234, .1), rgba(255, 255, 255, 0));
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-content: start;
  align-items: start;
  justify-items: stretch;
  display: grid;
  position: relative;
}

.icon-1x1-small {
  width: 1rem;
  height: 1rem;
  flex: none;
}

.overflow-auto {
  overflow: auto;
}

.spacing-clean {
  margin: 0;
  padding: 0;
}

.icon-1x1-large {
  width: 2.5rem;
  height: 2.5rem;
}

.z-index-2 {
  z-index: 2;
  position: relative;
}

.fs-styleguide_background-space {
  width: 1px;
  height: 1px;
  margin: 5rem;
}

.text-weight-semibold {
  font-weight: 600;
}

.text-style-strikethrough {
  text-decoration: line-through;
}

.fs-styleguide_item {
  grid-column-gap: 1.125rem;
  grid-row-gap: 1.125rem;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-content: start;
  align-items: start;
  justify-items: start;
  padding-bottom: 3rem;
  display: grid;
  position: relative;
}

.fs-styleguide_item.is-stretch {
  justify-items: stretch;
}

.max-width-full {
  width: 100%;
  max-width: none;
}

.fs-styleguide_item-header {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding-bottom: 2rem;
}

.fs-styleguide_heading-large {
  font-size: 6rem;
}

.background-color-black {
  background-color: var(--pramary-900);
  color: #f5f5f5;
}

.z-index-1 {
  z-index: 1;
  position: relative;
}

.text-color-black {
  color: var(--pramary-900);
}

.text-color-grey-1 {
  color: var(--neutral-300);
}

.fs-styleguide_2-col {
  width: 100%;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.fs-styleguide_2-col.is-align-start {
  align-items: start;
}

.form_message-success {
  padding: 1.25rem;
}

.fs-styleguide_row {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  flex-direction: row;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.heading-style-h3 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
}

.text-rich-text h1, .text-rich-text h2, .text-rich-text h3, .text-rich-text h4 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.text-rich-text h5, .text-rich-text h6 {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}

.text-rich-text p {
  margin-bottom: 1rem;
}

.text-rich-text ul, .text-rich-text ol {
  margin-bottom: 1.5rem;
}

.container-small {
  width: 100%;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.icon-height-small {
  height: 1rem;
}

.icon-1x1-medium {
  width: 2rem;
  height: 2rem;
}

.heading-style-h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.1;
}

.padding-global {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.text-weight-normal {
  font-weight: 400;
}

.padding-section-small {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.max-width-small {
  width: 100%;
  max-width: 20rem;
}

.text-color-white {
  color: #fff;
}

.text-style-italic {
  font-style: italic;
}

.text-weight-medium {
  font-weight: 500;
}

.overflow-hidden {
  overflow: hidden;
}

.fs-styleguide_section-header {
  width: 100%;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  border-bottom: 1px solid #000;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  padding-bottom: 3rem;
  line-height: 1.4;
  display: grid;
}

.text-size-tiny {
  font-size: .75rem;
}

.max-width-xxlarge {
  width: 100%;
  max-width: 80rem;
}

.fs-styleguide_1-col {
  width: 100%;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.overflow-visible {
  overflow: visible;
}

.fs-styleguide_empty-box {
  z-index: -1;
  height: 3rem;
  min-width: 3rem;
  background-color: rgba(45, 64, 234, .05);
  border: 1px dashed #2d40ea;
  position: relative;
}

.text-weight-light {
  font-weight: 300;
}

.fs-styleguide_heading-medium {
  font-size: 4rem;
}

.max-width-xsmall {
  width: 100%;
  max-width: 16rem;
}

.fs-styleguide_4-col {
  width: 100%;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.text-size-regular {
  font-size: 1rem;
}

.text-weight-xbold {
  font-weight: 800;
}

.text-align-right {
  text-align: right;
}

.text-weight-bold {
  font-weight: 700;
}

.max-width-medium {
  width: 100%;
  max-width: 32rem;
}

.fs-styleguide_item-wrapper {
  width: 100%;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.max-width-large {
  width: 100%;
  max-width: 48rem;
}

.fs-styleguide_header-block {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: start;
  display: grid;
}

.background-color-white {
  background-color: #fff;
}

.text-style-muted {
  opacity: .6;
}

.text-size-small {
  font-size: .875rem;
}

.heading-style-h4 {
  font-size: 1.24rem;
  font-weight: 400;
  line-height: 1.4;
}

.max-width-xlarge {
  width: 100%;
  max-width: 64rem;
}

.form_radio-icon {
  width: .875rem;
  height: .875rem;
  margin-top: 0;
  margin-left: 0;
  margin-right: .5rem;
}

.form_radio-icon.w--redirected-checked {
  width: .875rem;
  height: .875rem;
  border-width: .25rem;
}

.form_radio-icon.w--redirected-focus {
  width: .875rem;
  height: .875rem;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.text-style-nowrap {
  white-space: nowrap;
}

.text-align-left {
  text-align: left;
}

.background-color-grey {
  background-color: var(--neutral-5);
}

.form_input {
  min-height: 3rem;
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: .75rem;
  padding: .5rem 1rem;
}

.form_input.is-text-area {
  min-height: 8rem;
  padding-top: .75rem;
}

.heading-style-h6 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

.padding-section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.fs-styleguide_3-col {
  width: 100%;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  display: grid;
}

.fs-styleguide_3-col.is-align-start {
  align-items: start;
}

.text-style-link {
  color: #000;
  text-decoration: underline;
}

.text-size-large {
  font-size: 1.25rem;
}

.fs-styleguide_header {
  background-color: rgba(0, 0, 0, .05);
}

.heading-style-h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
}

.fs-styleguide_label {
  color: #fff;
  background-color: #2d40ea;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: .25rem .75rem .3rem;
  font-weight: 600;
  display: flex;
}

.fs-styleguide_label.is-tag {
  background-color: #be4aa5;
}

.fs-styleguide_label.is-hex {
  color: #000;
  background-color: #f5f5f5;
}

.fs-styleguide_version {
  z-index: 5;
  color: #000;
  font-weight: 500;
  text-decoration: none;
}

.heading-style-h5 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.icon-height-medium {
  height: 2rem;
}

.text-style-allcaps {
  text-transform: uppercase;
}

.overflow-scroll {
  overflow: scroll;
}

.form_message-error {
  margin-top: .75rem;
  padding: .75rem;
}

.icon-height-large {
  height: 3rem;
}

.text-align-center {
  text-align: center;
}

.form_component {
  margin-bottom: 0;
}

.max-width-xxsmall {
  width: 100%;
  max-width: 12rem;
}

.layer {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.text-style-quote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.button {
  background-color: var(--primary-500);
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 1rem 2rem;
  font-family: Publicsans, sans-serif;
  font-weight: 600;
  transition: background-color .2s ease-in-out;
}

.button:hover {
  background-color: var(--primary-600);
}

.button.is-text {
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0);
}

.button.is-small {
  padding: .75rem 1.5rem;
}

.button.is-large {
  padding: 1rem 2rem;
}

.button.is-secondary {
  border: 1px solid var(--primary-500);
  color: var(--primary-500);
  background-color: rgba(0, 0, 0, 0);
  padding: .75rem 1.5rem;
}

.button.is-secondary:hover {
  border-color: var(--primary-600);
  color: var(--primary-600);
}

.button.is-icon {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  background-color: var(--pramary-900);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  text-decoration: none;
  display: flex;
}

.button.is-icon:hover {
  background-color: var(--neutral-300);
}

.fs-styleguide_classes {
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.text-size-medium {
  font-size: 1.125rem;
}

.fs-styleguide_section {
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  justify-items: start;
  display: grid;
}

.fs-styleguide_section.is-vertical {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-columns: 1fr;
}

.button-group {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.hide {
  display: none;
}

.padding-section-medium {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.container-medium {
  width: 100%;
  max-width: 71.25rem;
  margin-left: auto;
  margin-right: auto;
}

.form_radio {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.home-message_content-grid {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: start;
  display: grid;
}

.home-message_component {
  min-height: 100vh;
  color: #fff;
  padding: 3rem;
  display: flex;
}

.home-message_list {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-items: start;
  display: grid;
}

.home-message_content {
  width: 100%;
  color: #000;
  background-color: rgba(0, 0, 0, .05);
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  align-items: stretch;
  display: flex;
}

.home-message_heading-block {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.home-message_item {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.home-message_item-icon {
  width: 1.75rem;
  height: 1.75rem;
  color: #000;
  background-color: #fff;
  flex: none;
}

.home-message_logo {
  width: 4rem;
}

.fs-styleguide_spacing-all {
  display: none;
}

.fs-styleguide_color.is-1 {
  background-color: var(--primary-50);
}

.fs-styleguide_color.is-2 {
  background-color: var(--primary-500);
}

.fs-styleguide_color.is-3 {
  background-color: var(--primary-600);
}

.fs-styleguide_color.is-4 {
  background-color: var(--pramary-900);
}

.fs-styleguide_color.is-5 {
  background-color: var(--whitte);
}

.fs-styleguide_color.is-6 {
  background-color: var(--neutral-5);
}

.fs-styleguide_color.is-7 {
  background-color: var(--neutral-50);
}

.fs-styleguide_color.is-8 {
  background-color: var(--neutral-200);
}

.fs-styleguide_color.is-9 {
  background-color: var(--neutral-300);
}

.fs-styleguide_color.is-10 {
  background-color: var(--sucess-50);
}

.fs-styleguide_color.is-11 {
  background-color: var(--sucess-600);
}

.spacer-huge {
  width: 100%;
  padding-top: 6rem;
}

.spacer-medium {
  width: 100%;
  padding-top: 2rem;
}

.fs-styleguide_spacer-box {
  width: 100%;
  background-color: rgba(45, 64, 234, .1);
  border: 1px dashed #2d40ea;
  position: relative;
}

.spacer-xsmall {
  width: 100%;
  padding-top: 1rem;
}

.spacer-small {
  width: 100%;
  padding-top: 1.5rem;
}

.spacer-xhuge {
  width: 100%;
  padding-top: 8rem;
}

.spacer-tiny {
  width: 100%;
  padding-top: .5rem;
}

.spacer-xxsmall {
  width: 100%;
  padding-top: .75rem;
}

.spacer-xxhuge {
  width: 100%;
  padding-top: 12rem;
}

.spacer-xlarge {
  width: 100%;
  padding-top: 3rem;
}

.spacer-large {
  width: 100%;
  padding-top: 2.5rem;
}

.spacer-xxlarge {
  width: 100%;
  padding-top: 4rem;
}

.text-color-grey-2 {
  color: var(--neutral-200);
}

.text-color-green {
  color: var(--sucess-600);
}

.navigation {
  border-bottom: 1px solid var(--neutral-50);
  background-color: var(--neutral-5);
  padding: 1.25rem 5%;
}

.navigation-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.brand-link {
  max-width: 124px;
}

.icon-small {
  width: 24px;
  height: 24px;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  display: flex;
}

.dropdown-toggle {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  background-color: var(--primary-500);
  color: var(--whitte);
  border-radius: 8px;
  align-items: center;
  padding: .75rem 1.5rem;
  font-family: Publicsans, sans-serif;
  font-weight: 600;
  transition: background-color .2s;
  display: flex;
}

.dropdown-toggle:hover {
  background-color: var(--primary-600);
}

.divider {
  height: 1px;
  max-width: 71.25rem;
  margin-left: auto;
  margin-right: auto;
}

.divider.light-color {
  background-color: var(--neutral-50);
}

.divider.dark-color {
  background-color: var(--neutral-5);
  opacity: .12;
}

.section-hero {
  background-color: var(--neutral-5);
  padding-top: 8rem;
  padding-left: 5%;
  padding-right: 5%;
}

.content-hero {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.text-weight-semibold-2 {
  font-family: Publicsans, sans-serif;
  font-weight: 600;
}

.heading {
  font-weight: 400;
}

.image-wrapper-hero {
  position: relative;
}

.image-floating-1-hero {
  position: absolute;
  top: 30%;
  left: -9%;
}

.image-floating-2-hero {
  position: absolute;
  bottom: 0%;
  right: -8%;
}

.image {
  position: static;
  bottom: 0%;
}

.section {
  padding: 8rem 5%;
}

.section.light-color {
  background-color: var(--neutral-5);
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.text-span {
  color: var(--primary-500);
}

.step-item {
  grid-row-gap: 1.5rem;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.step-by-step-list {
  grid-column-gap: 138px;
  grid-row-gap: 138px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.content-text-step1 {
  grid-column-gap: 0px;
  grid-row-gap: 12px;
  flex-direction: column;
  display: flex;
}

.text-weight-semibold-3 {
  font-family: Publicsans, sans-serif;
  font-weight: 600;
}

.text-weight-normal-2 {
  font-family: Publicsans, sans-serif;
  font-weight: 400;
}

.content-how-it-works {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.section-feature-1 {
  padding: 8rem 5%;
}

.divider-1 {
  height: 1px;
  max-width: 1140px;
  background-color: var(--neutral-50);
  margin-left: auto;
  margin-right: auto;
}

.layout-feature {
  grid-column-gap: 64px;
  grid-row-gap: 0px;
  padding: 0;
}

.quick-stack-benefits-list {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  padding: 0;
}

.content-list {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  align-items: center;
  display: flex;
}

.check-icon {
  width: 28px;
  height: 28px;
  background-color: var(--sucess-50);
  border-radius: 500px;
  justify-content: center;
  align-self: auto;
  align-items: center;
  display: flex;
}

.icon-regular {
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-size-regular-2 {
  font-size: 1rem;
  line-height: 1.5;
}

.text-size-regular-2.text-color-neutral-200 {
  display: block;
  overflow: visible;
}

.cell-content-feature {
  justify-content: center;
  align-items: flex-start;
}

.section-feature-2 {
  padding: 8rem 5%;
}

.div-block {
  flex-direction: row;
  display: flex;
}

.cell-content-feature-2 {
  justify-content: center;
}

.section-feature-3 {
  padding: 8rem 5%;
}

.cell-image-feature-2 {
  justify-content: center;
  align-items: flex-end;
}

.cell-content-feature-3 {
  justify-content: center;
  align-items: flex-start;
}

.section-type-of-establishment {
  background-color: var(--neutral-5);
  padding: 8rem 5%;
}

.spacer-medium-2 {
  width: 100%;
  padding-top: 1.5rem;
}

.spacer-small-2 {
  width: 100%;
  padding-top: 1rem;
}

.iten-block-text {
  width: 100%;
  max-width: 104px;
  justify-content: center;
  align-self: auto;
  display: flex;
}

.spacer-xlarge-2 {
  width: 100%;
  padding-top: 2.5rem;
}

.heading-style-h2-2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
}

.heading-style-h2-2.text-align-center {
  align-self: auto;
}

.iten-block-icon {
  background-color: var(--whitte);
  border-radius: 16px;
  padding: 32px;
}

.text-size-medium-2 {
  font-size: 1.25rem;
  line-height: 1.4;
}

.content-type-business {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.spacer-xxlarge-2 {
  width: 100%;
  padding-top: 4rem;
}

.to-who-list-wrapper {
  grid-column-gap: 56px;
  grid-row-gap: 56px;
  order: 0;
  padding: 0;
}

.content-text-align-center {
  max-width: 524px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.button-2 {
  color: #fff;
  text-align: center;
  background-color: #fa6440;
  border-radius: 8px;
  padding: 1rem 2rem;
  font-weight: 600;
  transition: background-color .2s;
}

.button-2:hover {
  background-color: #cc5133;
}

.text-style-link-2 {
  color: var(--neutral-5);
  text-decoration: none;
  display: block;
}

.text-style-link-2:hover {
  color: var(--whitte);
}

.footer {
  background-color: #1e1510;
  padding: 4rem 5%;
}

.footer-content-wrapper {
  padding: 0;
}

.heading-style-h3-2 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
}

.divider-regular-2 {
  width: 100%;
  height: 1px;
  background-color: #525050;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: block;
  position: static;
}

.divider-2 {
  height: 1px;
  max-width: 1140px;
  background-color: var(--neutral-300);
  margin-left: auto;
  margin-right: auto;
}

.section-price {
  padding: 8rem 5%;
}

.pricing-item {
  width: 100%;
  max-width: 22.5rem;
  border: 1px solid var(--neutral-50);
  border-radius: 24px;
  flex-direction: column;
  padding: 2.5rem 2rem;
  display: flex;
}

.pricing-tab-pane {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.content-price {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.text-price {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  display: flex;
}

.faqs-question-top {
  justify-content: space-between;
  display: flex;
}

.faqs-question-block {
  background-color: #f0eceb;
  border-radius: 16px;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  display: block;
}

.faqs-answer {
  display: block;
  overflow: hidden;
}

.faqs {
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  margin-left: auto;
  margin-right: auto;
}

.faqs-content-top {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-size-medium-3 {
  font-size: 1.25rem;
  line-height: 1.4;
}

.button-icon-whatsapp {
  z-index: 30;
  width: 64px;
  height: 64px;
  background-color: #2bcd3e;
  border-radius: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  bottom: 3%;
  right: 3%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.button-icon-whatsapp:hover {
  background-color: #189b28;
}

.dropdown-list {
  background-color: #ddd;
}

.dropdown-list.w--open {
  z-index: 0;
  background-color: var(--whitte);
  border-radius: 8px;
  margin-top: 1rem;
  padding: 1rem;
  display: block;
  overflow: visible;
  box-shadow: 0 2px 7px rgba(0, 0, 0, .2);
}

.card-dropdown {
  border-radius: 8px;
}

.card {
  padding: 1rem;
}

.card.border-radius-8px {
  border: 1px solid var(--neutral-50);
  border-radius: 8px;
  overflow: visible;
}

.dropdown-link {
  padding: .75rem;
  font-weight: 600;
}

.dropdown-link.border-radius-8px {
  border-radius: 8px;
  transition: background-color .1s cubic-bezier(.23, 1, .32, 1);
}

.dropdown-link.border-radius-8px:hover {
  background-color: var(--neutral-5);
}

.dropdown-link-2 {
  padding: .5rem;
}

.footer-link {
  color: var(--neutral-200);
  text-decoration: none;
  transition: color .2s ease-in-out;
}

.footer-link:hover {
  color: var(--whitte);
}

.nav-menu-2 {
  display: none;
}

.div-block-7 {
  z-index: 5;
  width: 100vw;
  height: 100vw;
  background-color: rgba(0, 0, 0, .4);
  position: fixed;
}

.div-block-8 {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.popup-video {
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .32);
  display: none;
  position: fixed;
}

.video-wrapp {
  width: 600px;
  height: 400px;
  margin: auto;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

@media screen and (max-width: 991px) {
  .padding-xlarge {
    padding: 3rem;
  }

  .margin-xlarge {
    margin: 3rem;
  }

  .padding-xhuge {
    padding: 6rem;
  }

  .padding-xxhuge {
    padding: 8rem;
  }

  .padding-huge {
    padding: 5rem;
  }

  .margin-large {
    margin: 2.5rem;
  }

  .padding-xxlarge {
    padding: 4rem;
  }

  .padding-large {
    padding: 2.5rem;
  }

  .margin-huge {
    margin: 5rem;
  }

  .padding-medium {
    padding: 1.5rem;
  }

  .margin-xxlarge {
    margin: 4rem;
  }

  .margin-xhuge {
    margin: 6rem;
  }

  .margin-medium {
    margin: 1.5rem;
  }

  .margin-xxhuge {
    margin: 8rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .hide-tablet {
    display: none;
  }

  .fs-styleguide_2-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .max-width-full-tablet {
    width: 100%;
    max-width: none;
  }

  .fs-styleguide_1-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .fs-styleguide_heading-medium {
    font-size: 3rem;
  }

  .fs-styleguide_4-col {
    grid-template-columns: 1fr;
  }

  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .fs-styleguide_3-col {
    grid-template-columns: 1fr;
  }

  .button.is-secondary {
    display: none;
  }

  .fs-styleguide_section {
    grid-column-gap: 2.5rem;
    grid-template-columns: 1fr;
  }

  .padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .spacer-medium {
    padding-top: 2rem;
  }

  .button-dropdown {
    display: none;
  }

  .divider.light-color {
    max-width: 40rem;
  }

  .section-hero {
    padding-top: 6rem;
  }

  .image-floating-1-hero {
    left: -5%;
  }

  .image-floating-2-hero {
    right: -6%;
  }

  .section {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .step-by-step-list {
    grid-column-gap: 64px;
    grid-row-gap: 64px;
  }

  .cell-image-feature-2 {
    align-items: flex-start;
  }

  .heading-style-h2-2 {
    text-align: left;
  }

  .heading-style-h2-2.text-align-center {
    align-self: auto;
  }

  .text-size-medium-2.text-color-neutral-200 {
    text-align: left;
  }

  .to-who-list-wrapper {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
  }

  .content-text-align-center {
    align-self: auto;
    align-items: center;
  }

  .pricing-tab-pane {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }

  .faqs {
    grid-template-columns: 1fr;
  }

  .text-size-medium-3.text-color-neutral-200 {
    text-align: left;
  }

  .menu-button {
    display: block;
  }

  .menu-button.w--open {
    background-color: var(--neutral-200);
  }

  .div-block-2, .div-block-3, .div-block-4 {
    margin-top: 2rem;
  }

  .nav-link {
    color: var(--whitte);
    margin-left: 0;
    margin-right: 0;
    padding: 1.25rem;
    font-weight: 600;
  }

  .nav-menu-2 {
    background-color: var(--neutral-200);
    flex-direction: column;
    align-items: flex-start;
    display: block;
  }

  .div-block-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    display: flex;
  }

  .div-block-6 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }

  .dropdown {
    color: var(--pramary-900);
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin-left: 0;
    margin-right: 0;
    display: flex;
  }

  .dropdown-toggle-2 {
    color: var(--whitte);
    align-self: auto;
    margin-left: 0;
    margin-right: 0;
    padding: 1.25rem;
    font-weight: 600;
  }

  .dropdown-list-2 {
    background-color: var(--neutral-50);
    position: static;
  }

  .dropdown-list-2.w--open {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: .875rem;
  }

  .padding-xlarge {
    padding: 2rem;
  }

  .margin-xlarge {
    margin: 2rem;
  }

  .padding-xhuge {
    padding: 4rem;
  }

  .padding-xxhuge {
    padding: 4.5rem;
  }

  .padding-huge {
    padding: 3.5rem;
  }

  .margin-large {
    margin: 1.5rem;
  }

  .padding-xxlarge {
    padding: 3rem;
  }

  .padding-large {
    padding: 1.5rem;
  }

  .margin-huge {
    margin: 3.5rem;
  }

  .padding-medium {
    padding: 1.25rem;
  }

  .margin-xxlarge {
    margin: 3rem;
  }

  .margin-xhuge {
    margin: 4rem;
  }

  .margin-medium {
    margin: 1.25rem;
  }

  .margin-xxhuge {
    margin: 4.5rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .hide-mobile-landscape {
    display: none;
  }

  .fs-styleguide_heading-large {
    font-size: 3rem;
  }

  .heading-style-h3 {
    font-size: 1.5rem;
  }

  .heading-style-h1 {
    font-size: 2.5rem;
  }

  .padding-global {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .padding-section-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .fs-styleguide_section-header {
    font-size: .875rem;
  }

  .fs-styleguide_heading-medium {
    font-size: 2rem;
  }

  .max-width-medium {
    max-width: 32rem;
  }

  .max-width-full-mobile-landscape {
    width: 100%;
    max-width: none;
  }

  .heading-style-h4 {
    font-size: 1rem;
  }

  .text-style-nowrap {
    white-space: normal;
  }

  .heading-style-h6 {
    font-size: .75rem;
  }

  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .text-size-large {
    font-size: 1.25rem;
  }

  .heading-style-h2 {
    font-size: 2rem;
  }

  .fs-styleguide_version, .heading-style-h5 {
    font-size: .875rem;
  }

  .padding-section-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .home-message_component {
    padding: 0;
  }

  .home-message_content {
    border-radius: 0;
  }

  .spacer-medium {
    padding-top: 2rem;
  }

  .spacer-xxlarge {
    padding-top: 3rem;
  }

  .section-hero {
    padding-top: 4rem;
  }

  .image-floating-1-hero, .image-floating-2-hero {
    display: none;
  }

  .cell-content-feature {
    align-items: center;
  }

  .heading-style-h2-2 {
    font-size: 2rem;
  }

  .heading-style-h3-2 {
    font-size: 1.5rem;
  }

  .div-block-2 {
    align-self: auto;
  }

  .div-block-4 {
    margin-top: 2rem;
  }

  .video-wrapp {
    width: 500px;
    height: 300px;
  }
}

@media screen and (max-width: 479px) {
  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .max-width-full-mobile-portrait {
    width: 100%;
    max-width: none;
  }

  .heading-style-h1.text-align-center {
    font-size: 1.5rem;
  }

  .hide-mobile-portrait {
    display: none;
  }

  .text-size-large.text-align-center.text-color-grey-1, .text-size-large.text-color-grey-1 {
    font-size: 1rem;
  }

  .heading-style-h2.text-color-black {
    font-size: 1.5rem;
  }

  .button.is-secondary {
    display: none;
  }

  .text-size-medium.text-color-grey-1.text-align-center {
    font-size: 1rem;
  }

  .button-group {
    flex-direction: column;
    align-items: stretch;
  }

  .spacer-medium {
    padding-top: 1rem;
  }

  .button-dropdown {
    display: none;
  }

  .section-hero {
    padding-top: 3rem;
  }

  .content-hero {
    align-items: stretch;
  }

  .image-wrapper-hero {
    display: none;
  }

  .step-by-step-list {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }

  .content-how-it-works, .cell-content-feature {
    align-items: stretch;
  }

  .heading-style-h2-2 {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.2rem;
  }

  .text-size-medium-2.text-color-neutral-200 {
    text-align: center;
    font-size: 1rem;
  }

  .content-type-business {
    align-items: stretch;
  }

  .spacer-xxlarge-2 {
    padding-top: 3.5rem;
  }

  .to-who-list-wrapper {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    align-self: center;
  }

  .button-2 {
    font-size: .875rem;
  }

  .footer {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }

  .heading-style-h3-2.text-color-neutral-0 {
    font-size: 1rem;
  }

  .faqs {
    grid-template-columns: 1fr;
  }

  .text-size-medium-3.text-color-neutral-200 {
    text-align: center;
    font-size: 1rem;
  }

  .nav-menu {
    background-color: var(--pramary-900);
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    display: flex;
    position: absolute;
    top: 80%;
    bottom: auto;
    left: 0%;
    right: 0%;
  }

  .nav-link {
    align-self: auto;
    margin-left: 0;
    margin-right: 0;
    padding: 1rem 2rem 1rem 1rem;
    text-decoration: none;
  }

  .div-block-6 {
    padding-left: 5%;
    padding-right: 5%;
  }

  .dropdown {
    margin-left: 0;
    margin-right: 0;
  }

  .video-wrapp {
    width: 320px;
    height: 0;
  }
}

#w-node-_3bc7f35d-a87c-d844-ccc4-d42512b17b9e-e6d05ddb {
  grid-template-rows: auto;
  grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr);
}

#w-node-_581f2d85-8c63-bf28-8512-64c53dbbdefc-e6d05ddb {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_581f2d85-8c63-bf28-8512-64c53dbbdf0b-e6d05ddb {
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
}

#w-node-_00911556-cc25-377f-7a66-4eb20121f11e-e6d05ddb {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_00911556-cc25-377f-7a66-4eb20121f12d-e6d05ddb {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}

#w-node-c05a3d87-2556-98a1-5881-4bfee0b8343a-e6d05ddb {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-_72380790-ef47-a216-729e-d8d6cea92035-e6d05ddb {
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
}

#w-node-_773d3aad-bb05-b169-6b6f-0255dd1bf38f-e6d05ddb {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#w-node-f9875a5a-eb41-0064-9845-fff0d76748f5-e6d05ddb {
  grid-template-rows: auto;
  grid-template-columns: minmax(200px, 1fr) 1fr 1fr;
}

#w-node-_78c11ace-9c84-bcc0-98d6-7df602e43776-e6d05ddb, #w-node-_78c11ace-9c84-bcc0-98d6-7df602e4377f-e6d05ddb, #w-node-_78c11ace-9c84-bcc0-98d6-7df602e43788-e6d05ddb, #w-node-_78c11ace-9c84-bcc0-98d6-7df602e43791-e6d05ddb, #w-node-_78c11ace-9c84-bcc0-98d6-7df602e4379a-e6d05ddb, #w-node-_78c11ace-9c84-bcc0-98d6-7df602e437a3-e6d05ddb {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_67b6220f-087c-e55e-c29d-0383d501a439-d501a437 {
  grid-template-rows: auto;
  grid-template-columns: 2fr 1fr 1fr;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627ca17-e6d05dde, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca1c-e6d05dde, #w-node-_32eadc24-e391-a089-abe0-fb5b6627ca21-e6d05dde {
  justify-self: start;
}

#w-node-_359bf28b-3245-b7fc-8ea2-35192cb7b7ab-e6d05dde, #w-node-_2ccc5c68-ff84-e3b7-9376-fc45f90763b3-e6d05dde {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_2ccc5c68-ff84-e3b7-9376-fc45f90763b6-e6d05dde {
  justify-self: start;
}

#w-node-_2ccc5c68-ff84-e3b7-9376-fc45f90763b8-e6d05dde {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_2ccc5c68-ff84-e3b7-9376-fc45f90763bb-e6d05dde {
  justify-self: start;
}

#w-node-_32eadc24-e391-a089-abe0-fb5b6627cbb8-e6d05dde, #w-node-_3130a062-ce9d-30b3-7ed1-6a83630bc983-e6d05dde, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cbc2-e6d05dde, #w-node-_32eadc24-e391-a089-abe0-fb5b6627cbc3-e6d05dde {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_30684373-af34-3818-02a4-e58b3ffef3e5-e6d05dde, #w-node-_30684373-af34-3818-02a4-e58b3ffef3ea-e6d05dde, #w-node-_30684373-af34-3818-02a4-e58b3ffef3ef-e6d05dde, #w-node-_30684373-af34-3818-02a4-e58b3ffef3f4-e6d05dde, #w-node-_30684373-af34-3818-02a4-e58b3ffef3f9-e6d05dde, #w-node-_30684373-af34-3818-02a4-e58b3ffef3fe-e6d05dde, #w-node-_30684373-af34-3818-02a4-e58b3ffef403-e6d05dde, #w-node-_30684373-af34-3818-02a4-e58b3ffef408-e6d05dde, #w-node-_30684373-af34-3818-02a4-e58b3ffef40d-e6d05dde, #w-node-_30684373-af34-3818-02a4-e58b3ffef412-e6d05dde {
  justify-self: start;
}

@media screen and (max-width: 991px) {
  #w-node-_3bc7f35d-a87c-d844-ccc4-d42512b17b9e-e6d05ddb {
    grid-template-rows: auto;
    grid-template-columns: minmax(200px, .75fr);
  }

  #w-node-_581f2d85-8c63-bf28-8512-64c53dbbdefc-e6d05ddb, #w-node-_00911556-cc25-377f-7a66-4eb20121f11e-e6d05ddb {
    grid-template-rows: auto;
    grid-template-columns: .75fr;
  }

  #w-node-_00911556-cc25-377f-7a66-4eb20121f121-e6d05ddb {
    order: -9999;
  }

  #w-node-c05a3d87-2556-98a1-5881-4bfee0b8343a-e6d05ddb {
    grid-template-rows: auto;
    grid-template-columns: .75fr;
  }

  #w-node-_773d3aad-bb05-b169-6b6f-0255dd1bf38f-e6d05ddb {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #w-node-f9875a5a-eb41-0064-9845-fff0d76748f5-e6d05ddb {
    grid-template-rows: auto;
    grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);
  }
}

@media screen and (max-width: 767px) {
  #w-node-_00911556-cc25-377f-7a66-4eb20121f11f-e6d05ddb {
    order: 0;
  }

  #w-node-_00911556-cc25-377f-7a66-4eb20121f121-e6d05ddb {
    order: -9999;
  }

  #w-node-_773d3aad-bb05-b169-6b6f-0255dd1bf38f-e6d05ddb {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #w-node-f9875a5a-eb41-0064-9845-fff0d76748f5-e6d05ddb {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_3bc7f35d-a87c-d844-ccc4-d42512b17b9e-e6d05ddb, #w-node-_581f2d85-8c63-bf28-8512-64c53dbbdefc-e6d05ddb, #w-node-_00911556-cc25-377f-7a66-4eb20121f11e-e6d05ddb, #w-node-c05a3d87-2556-98a1-5881-4bfee0b8343a-e6d05ddb {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  #w-node-_773d3aad-bb05-b169-6b6f-0255dd1bf38f-e6d05ddb {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }

  #w-node-_67b6220f-087c-e55e-c29d-0383d501a439-d501a437 {
    grid-template-rows: auto;
    grid-template-columns: 2fr;
  }
}


@font-face {
  font-family: 'Publicsans';
  src: url('../fonts/PublicSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Publicsans';
  src: url('../fonts/PublicSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}